<div class="container text-center">
    <h1 class="mb-4">Tiempo en {{city || 'tu ciudad'}}</h1>
    
    <div class="mb-4">
      <div class="input-group" style="max-width: 400px; margin: 0 auto;">
        <input 
          [(ngModel)]="city" 
          (keyup.enter)="getWeather(city)" 
          class="form-control"
          placeholder="Elige una ciudad..."
          aria-label="Ciudad"
          aria-describedby="button-addon2">
        <button aria-label="Buscar clima" (click)="getWeather(city)">
          <i class="fas fa-search" aria-hidden="true"></i> Buscar
        </button>
      </div>
    </div>

     <div *ngIf="loading" class="text-center mb-4">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div> 

    <div *ngIf="weatherData" [@fadeInOut] class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ weatherData.name }}</h5>
            <div class="d-flex justify-content-center align-items-center">
              <img [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'" />
              <div>
                <h2 class="mb-0">{{ weatherData.main.temp | number:'1.0-0' }}°C</h2>
                <p>{{ weatherData.weather[0].description | titlecase }}</p>
              </div>
            </div>
            <ul class="list-group list-group-flush mt-3">
              <li class="list-group-item">Humedad: {{ weatherData.main.humidity }}%</li>
              <li class="list-group-item">Viento: {{ weatherData.wind.speed }} m/s</li>
              <li class="list-group-item">Presión: {{ weatherData.main.pressure }} hPa</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div *ngIf="weatherData && esBrowser" class="col-md-6 col-lg-8 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Temperatura actual en {{weatherData.name}}</h5>
            <canvas id="weatherChart" width="400" height="200">
              El navegador no soporta el elemento canvas.
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="forecastData" class="col-md-6 col-lg-8 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pronóstico para {{weatherData.name}}</h5>
          <canvas id="forecastChart" width="400" height="200">
            El navegador no soporta el elemento canvas.
          </canvas>
        </div>
      </div>
    </div>
  </div>

 
  